@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@100;200;300;400;600;700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(-45deg, #b93d3d, #b68a8a, #7c2d2d, #ff2d2d);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  width: 200px;
}
.tup {
  position: relative;
  bottom: 3vw;
  margin-left: 250px;
  font-size: 50px;
  font-family: 'Oswald';
}
.intro {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.intro img {
  margin-left: 250px;
}

#intro img,
#intro h1 {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #fff; /* TUP Red */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 25px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.logo2 {
  width: 200px;
  margin-top: 20px;
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
}

.nav-item {
  text-decoration: none;
  color: #8b0000;
  font-size: 18px;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-item:hover,
.nav-item.active {
  background-color: #d32f2f;
  transform: translateX(8px);
}
